<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="WindowsES-External@Local" value="https://microsoft.pkgs.visualstudio.com/_packaging/WindowsES-External%40Local/nuget/v3/index.json" />
    </packageSources>
</configuration>