<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="Microsoft.Display.HardwareCaptureTesting" value="https://microsoft.pkgs.visualstudio.com/DisplayHardwareHLK/_packaging/Microsoft.Display.HardwareCaptureTesting/nuget/v3/index.json" />
  </packageSources>
</configuration>