#include <windows.h>

#define VER_FILEDESCRIPTION_STR "TAEF test definitions for GPU validation"
#define VER_INTERNALNAME_STR "Tests"
#define VER_ORIGINALFILENAME_STR "Tests.dll"

#include "CommonResources.rc"
