<?xml version="1.0" encoding="utf-8"?>
<packages>
	<!--<package id="Microsoft.Test.Pict" version="3.7.0" targetFramework="native" />-->
  <package id="Microsoft.Taef" version="10.63.211014001" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.210930.8" targetFramework="native" />
</packages>